.pytest_cache
env_project
containers/airflow/logs/*
containers/airflow/dags/__pycache__/*
containers/localstack/data/cache/*
containers/localstack/data/lib/*
containers/localstack/data/logs/*
containers/localstack/data/state/*
containers/localstack/data/tmp/*
data/output/processed/*
.gitignore
