.pytest_cache
./containers/airflow/logs/*
./containers/airflow/logs/scheduler/*
./containers/localstack/data/cache/*
./containers/localstack/data/lib/*
./containers/localstack/data/logs/*
./containers/localstack/data/tmp/*